
/*!
Styles for full screen background video demo
*/
/* =============================================================================
  RESETS
============================================================================= */
html,
body,
div,
h1,
p,
a,
video {
  margin: 0;
  padding: 0;
}

/* =============================================================================
  HTML, BODY
============================================================================= */
html,
body {
  height: 100%;
}

body {
  font-size: 16px;
  font-family: "Oxygen", sans-serif;
  line-height: 1.5;
}
nav{
      z-index: 2;
}
/* =============================================================================
  VIDEO
============================================================================= */
.video {
  position: fixed;
    /*-webkit-transform: translate(0%, 0%);*/

  /*left: 50%;*/
  z-index: 1;
  min-width: 100%;
  min-height: 100%;
  /*width: auto;*/
  height: auto;
  top: -40%;

     /* -ms-transform: translate(-50%, -50%);*/
       /*   transform: translate(-50%, -50%);*/
}

